asgiref==3.4.1
Deprecated==1.2.13
Django==3.2.9
django-cors-headers==3.10.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.0.0
MakeDjango==1.0.4
numpy==1.21.4
opencv-python==4.5.4.60
prompt-toolkit==1.0.14
pyfiglet==0.8.post1
Pygments==2.10.0
PyInquirer==1.0.3
PyJWT==2.3.0
pytz==2021.3
redis==4.0.2
regex==2021.11.10
six==1.16.0
sqlparse==0.4.2
wcwidth==0.2.5
wrapt==1.13.3
